* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: rgb(5,5,5);
  background: linear-gradient(90deg, rgba(5,5,5,1) 0%, rgba(1,1,1,1) 50%, rgb(23, 34, 36) 100%, rgba(236,236,236,1) 100%, rgba(235,242,244,1) 100%); 

  
  color: white;
  font-family: 'Raleway', sans-serif;
}


.avatar {
  border-radius: 50%;
  width: 80px;
  border: 3px solid white;
  box-shadow: 0 0 20px white;
  animation-name: minhaAnimaçao;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
}

h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 2px;
}

h2 {
  font-size: 16px;

}

.profile {
  margin-top: 20px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 20px 0;
}

.social img {
  width: 33px;
  border-radius: 50%;
  margin-bottom: 10px;
  animation-name: minhaAnimaçao;
  animation-duration: 1000ms;
  animation-iteration-count: 2;
}

.links-list {
  list-style: none;
  margin-top: 20px;
}

.links-list li {
  margin: 20px 20px;
}

.links-list li a { 
  display: block;
  text-decoration: none;
  background: #39393f;;
  padding: 15px 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  position: relative;

}

.links-list li a::before {
  content: "";
  position: absolute;
  top: -3.1px;
  left: -2.9px;
  height: 80px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(#1e9600, #fff200, #ff0000);
  z-index: -1;
  animation: animate 3s linear infinite;
}

.links-list li a:hover {
  background: rgb(238, 234, 234);
  color: #111;
}

.links-list li a span {
  display: block;
  color: grey;
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer-tree img {
  width: 40px;
  border-radius: 50%;
  animation-name: minhaAnimaçao;
  animation-duration: 1000ms;
  animation-iteration-count: 3;
}

@keyframes minhaAnimaçao {
  0% {
    
  }
  50% {
    box-shadow: 0 0 20px rgb(39, 68, 47);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes animate {
  0% {
    filter: hue-rotate(0deg) brightness(100%) blur(10px);
  }
  100% {
    filter: hue-rotate(360deg) brightness(100%) blur(10px);
  }
}

@media (max-width: 768px) {
  .links-list li a::before{
    content: "";
    position: absolute;
    top: -3.1px;
    left: -2.9px;
    height: 80px;
    border-radius: 10px;
    background: linear-gradient(#1e9600, #fff200, #ff0000);
    z-index: -1;
    animation: animate 3s linear infinite;
  }
}

@media (max-width: 479px) {
  .links-list li a::before{
    content: "";
    position: absolute;
    top: -3.1px;
    left: -2.9px;
    height: 100px;
    border-radius: 10px;
    background: linear-gradient(#1e9600, #fff200, #ff0000);
    z-index: -1;
    animation: animate 3s linear infinite;
  }
}